html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

#app {
  height: 100%;
  padding-top: 10px;
  position: relative;
  width: 100%;
}

#app div {
  width: 100%;
}

#app div div div {
  height: auto;
  position: relative;
}

h1,
h2,
h3 {
  margin-left: 4%;
  margin-right: 4%;
}

ul {
  list-style-type: none;
  padding: 0;
}

label {
  display: block;
  font-size: 30px;
  font-weight: bold;
  margin: 20px;
}

nav a {
  font-size: 10px;
  margin: 12px;
  text-transform: uppercase;
}

button {
  background-color: #f4595b;
  border-bottom: 4px solid #c24648;
  border-radius: 8px;
  color: #fff;
  display: inline-block;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s;
}

button:hover {
  background-color: #ff7375;
  border: none;
  border-bottom: 4px solid #c24648;
  border-radius: 8px;
  color: #fff;
  display: inline-block;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}

button:active {
  background-color: #c24648;
  border: none;
  border-bottom: 4px solid #c24648;
  border-radius: 8px;
  color: #ccc;
  display: inline-block;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
}
